.topbar-container {
  position: fixed;
  background: #1e1e1e;
  content: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  z-index: 40;
}

.logo-container {
  content: stretch;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
  flex-shrink: 0;
}

.logo {
  content: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
}

.logo-svg {
  height: 30px;
  overflow: clip;
  position: relative;
  flex-shrink: 0;
  width: 30px;
}

.logo-svg-window {
  position: absolute;
  content: '';
  inset: 0 0.74% 0 0.03%;
}

.logo-svg-window img {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

.menu-button-wrapper {
  content: stretch;
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: flex-start;
  position: relative;
  flex-shrink: 0;
  width: 55px;
}

.menu-button-clickable {
  content: stretch;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  overflow: clip;
  padding: 0 16px;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
}

.menu-button-clickable:hover {
  background: rgba(255, 255, 255, 0.1);
}

.menu-button-text {
  font-family: Exo, sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  position: relative;
  flex-shrink: 0;
  font-size: 14px;
  color: white;
}

.dropdown-options {
  background: #282828;
  border: 1px solid #626262;
  content: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-radius: 6px;
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  width: 171px;
  z-index: 20;
}

.dropdown-row {
  border-bottom: 1px solid #ababab;
  content: stretch;
  display: flex;
  gap: 4px;
  align-items: center;
  overflow: clip;
  padding: 6px;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.dropdown-row-disabled {
  background: #626262;
  border-bottom: 1px solid #626262;
  content: stretch;
  display: flex;
  align-items: center;
  overflow: clip;
  padding: 6px 16px;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.dropdown-text {
  font-family: Exo, sans-serif;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
  position: relative;
  flex-shrink: 0;
  font-size: 12px;
  color: white;
}

.dropdown-text-disabled {
  flex: 1 0 0;
  font-family: Exo, sans-serif;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
  min-height: 1px;
  min-width: 1px;
  position: relative;
  font-size: 12px;
  color: #8a8a8a;
  white-space: pre-wrap;
}

.topbar-right-container {
  content: stretch;
  display: flex;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.icon-menu-button {
  content: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
  padding: 0 16px;
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
}

.icon-container {
  content: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.icon-inner {
  flex: 1 0 0;
  height: 100%;
  min-height: 1px;
  min-width: 1px;
  overflow: clip;
  position: relative;
}

.icon-vector {
  position: absolute;
  inset: 22% 8%;
}

.icon-vector img {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

.topbar-center-container {
  transform: translate(-50%, -50%);
  position: absolute;
  content: stretch;
  display: flex;
  gap: 4px;
  align-items: center;
  left: 50%;
  top: 50%;
  width: 568px;
}

.session-info-container {
  background: #282828;
  content: stretch;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  position: relative;
  flex-shrink: 0;
  width: 454px;
}

.session-status-container {
  content: stretch;
  display: flex;
  gap: 4px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.session-name {
  position: absolute;
  font-family: Exo, sans-serif;
  font-weight: 600;
  line-height: 14px;
  margin: 0;
  left: calc(50% - 46px);
  color: #eceef0;
  font-size: 14px;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
}
