.map-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* Cesium 3D Map */
.cesium-map-wrapper {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.cesium-map-wrapper .cesium-viewer {
  width: 100%;
  height: 100%;
}

.cesium-map-wrapper .cesium-viewer-cesiumWidgetContainer,
.cesium-map-wrapper .cesium-widget,
.cesium-map-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Fill the entire viewport */
.map-container,
.cesium-map-wrapper,
.cesium-map-wrapper .cesium-viewer,
.cesium-map-wrapper .cesium-viewer-cesiumWidgetContainer,
.cesium-map-wrapper .cesium-widget,
.cesium-map-wrapper canvas {
  width: 100vw;
  height: 100vh;
}

/* Hide default Cesium UI elements that we do not need */
.cesium-map-wrapper .cesium-viewer-bottom {
  display: none !important;
}

.cesium-map-wrapper .cesium-viewer-toolbar {
  top: 58px !important;
  right: 12px !important;
  z-index: 60 !important;
}

/* Hide Cesium UI widgets (compass/credits) */
.cesium-map-wrapper .cesium-viewer-navigationContainer,
.cesium-map-wrapper .cesium-widget-credits,
.cesium-map-wrapper .cesium-credit-lightbox {
  display: none !important;
}
